body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    
}
a {
    text-decoration: none;
}
.welcome-area{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.orange-text {
    color: orange;
}
.gray-text {
    color: gray;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
} 

.button {
    background: linear-gradient(tomato, orange); 
    color: #fff;
    padding: 10px 40px;
    /* font-size: 20px; */
    border-radius: 5px;
}